@using MinPro.viewmodels;
@model VMTblPasien;

<div class="card">
    <div class="card-body">
 
        <form asp-action="Create" method="post" id="form_input">

            <input type="hidden" id="ParentBiodataId" name="ParentBiodataId" value="@Model.ParentBiodataId" />
            <div class="mb-4 row">
                <label for="FullName" class="col-sm-4 col-form-label">NamaLengkap</label>
                <div class="col-sm-12">
                    <input type="text" class="form-control" id="FullName" name="FullName" value="@Model.Fullname" >
                    <span id="error_FullName" class="text-black-danger"></span>
                </div>
            </div>
            <div class="mb-4 row">
                <label for="Dob" class="col-sm-4 col-form-label">Tanggal Lahir</label>
                <div class="col-sm-12">
                    <input type="date" class="form-control" id="Dob" name="Dob" value="@Model.Dob?.ToString("yyyy-MM-dd")" >
                    <span id="error_Dob" class="text-danger"></span>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="height">Height</label>
                    <input type="number" class="form-control" id="height" name="Height" value="@Model.Height" >
                </div>
                <div class="form-group col-md-6">
                    <label for="weight">Weight</label>
                    <input type="number" class="form-control" id="weight" name="Weight" value="@Model.Weight" >
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="Code">Type Darah</label>
                    @Html.DropDownList("BloodGroupId", new SelectList(ViewBag.bloodGroups, "Id", "Code"), "-- Pilih Golongan Darah --", new { @class = "form-control" })
                </div>
                <div class="form-group col-md-2">
                    <label for="Rhtype">Rh Type</label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="RhesusType" name="RhesusType" value="Rh+" @(Model.RhesusType == "Rh+" ? "checked" : "")>
                        <label class="form-check-label" for="Rh+">Rh+</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="RhesusType" name="RhesusType" value="Rh-" @(Model.RhesusType == "Rh-" ? "checked" : "")>
                        <label class="form-check-label" for="Rh-">Rh-</label>
                    </div>
                </div>
                <div class="form-group col-md-4" >
                    <label for="Gender" >Gender</label>
                    <div>
                        <div class="form-check" >
                            <input class="form-check-input" type="radio" id="Gender" name="Gender" value="P" @(Model.Gender == "P" ? "checked" : "") >
                            <label class="form-check-label" for="Pria">Pria</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" id="Gender" name="Gender" value="W" @(Model.Gender == "W" ? "checked" : "") >
                            <label class="form-check-label" for="Wanita">Wanita</label>
                        </div>
                    <span id="error_Gender" class="text-danger"></span>
                    </div>
                </div>

                <div class="mb-4 row">
                    <label for="Name" class="col-sm-4 col-form-label">Relasi</label>
                    <div class="col-sm-12">
                        @Html.DropDownList("CustomerRelationId", new SelectList(ViewBag.customerRelations, "Id", "Name") , "-- Pilih Relasi --", new { @class = "form-control",})
                    <span id="error_CustomerRelationId" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Input</button>
                    <a class="btn btn-dark" asp-controller="Pasien" asp-action="Index">Back</a>
                    <span asp-validation-for="Fullname" class="text-danger"></span>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    $("#form_input").validate({
        errorClass: "text-danger",
        errorPlacement: function (error, element) {
            if (element.attr("name") === "FullName") {
                error.appendTo($("#error_FullName"));
            } else if (element.attr("name") === "Dob") {
                error.appendTo($("#error_Dob"));
            } else if (element.attr("name") === "CustomerRelationId") {
                error.appendTo($("#error_CustomerRelationId"));
            } else if (element.attr("name") === "Gender") {
                error.appendTo($("#error_Gender"));
            } else {
                // Handle other fields, if any
            }
        },
        rules: {
            FullName: {
                required: true,
                minlength: 5,
            },
            Dob: {
                required: true,
            },
            CustomerRelationId: {
                required: true,
            },
            Gender: {
                required: true,
            },
        },
        messages: {
            FullName: {
                required: "Tolong isi Nama",
                minlength: "Tolong Lebih Dari 5 karakter",
            },
            Dob: {
                required: "Tolong isi Tanggal Lahir",
            },
            CustomerRelationId: {
                required: "Tolong Pilih Relasi",
            },
            Gender: {
                required: "Tolong Pilih Gender",
            },

        },
        submitHandler: function (form) {
            var dataForm = $(form).serialize();
            fungsiSubmit(dataForm);
        }
    });

    function fungsiSubmit(dataParam) {
        $.ajax({
            url: '/Pasien/Create',
            type: "post",
            data: dataParam,
            dataType: "json",
            success: function (respon) {
                var data = respon.dataRespon;
                if (data.success) {
                    $("#modal").modal("hide");
                    toastr.success(
                        data.message,
                        '',
                        {
                            timeOut: 1000,
                            fadeOut: 1000,
                            onHidden: function () {
                                window.location.reload();
                            }
                        }
                    );
                }
                else {
                    // Use toastr.error to display the error message
                    toastr.error(data.message);
                }
            }
        });
    }
</script>
