@using MinPro.viewmodels;

<div class="clearfix"></div>

<div class="content-wrapper">
<div class="container-fluid">

    <div class="row mt-3">
        <div class="col-lg-4">
            <div class="card profile-card-1">
                <div class="card-img-block">
                    <img class="img-fluid mx-auto d-block" src="https://cdn.britannica.com/39/7139-050-A88818BB/Himalayan-chocolate-point.jpg?w=400&h=300&c=crop" alt="Card image cap">
                </div>
                <div class="card-body pt-5">

                    <h5 class="card-title">Mark Stern</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

                </div>

                <div class="card-body border-top border-light">
                    <div class="media align-items-center">
                        <div class="media-body text-left ml-3">
                            <div class="progress-wrapper">
                                <a asp-area="" asp-controller="Profile" asp-action="Index"><p>Pasien </p></a>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="media align-items-center">
                        <div class="media-body text-left ml-3">
                            <div class="progress-wrapper">
                                <p>Pembelian Obat </p>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="media align-items-center">
                        <div class="media-body text-left ml-3">
                            <div class="progress-wrapper">
                                <p>Rencana Kedatangan</p>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="media align-items-center">
                        <div class="media-body text-left ml-3">
                            <div class="progress-wrapper">
                                <p>Riwayat Chat Dokter </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

            <div class="col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <form asp-action="Index" asp-route-pageSize="@ViewBag.CurrentPageSize">
                                <div class="input-group w-100">
                                    <input type="text" name="searchString" value="@ViewBag.CurrentFilter" class="form-control" placeholder="Search..">
                                    <div class="input-group-prepend">
                                        <button type="submit" class="input-group-text" title="Search">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </div>
                                    <div class="input-group-prepend">
                                        <a class="input-group-text" asp-action="Index" title="Reset">
                                            <i class="fa fa-refresh"></i>
                                        </a>
                                    </div>
                                </div>
                            </form>
                                    <div class="input-group-prepend">
                                <a  asp-action="Index" 
                                    asp-route-sortOrder="@ViewBag.NameSort" 
                                    asp-route-currentFilter="@ViewBag.CurrentFilter"
                                    asp-route-pageSize="@ViewBag.CurrentPageSize">
                                            <i class="fa fa-sort"></i>
                                        </a>
                                    </div>
                        </div>
                        <div>
                            <button id="btn_create" class="btn btn-primary btn-sm mr-2">Create</button>
                            <button id="btn_multiple_delete" class="btn btn-primary" disabled>Hapus Semua</button>
                        </div>
                    </div>
                    <div class="list-group">
                        @if (Model != null)
                        {
                            @foreach (var patient in Model)
                            {
                                <div class="list-group-item d-flex justify-content-between align-items-center">
                                    <div class="d-flex flex-column">
                                    <!-- Changed to a flex-column container -->
                                    <div class="d-flex align-items-center">
                                        <div class="form-check">
                                            <input type="checkbox" onchange="selectedItem()" class="mychecked" value="@patient.Id" />
                                        </div>
                                        <div class="ml-3">
                                            <span class="patient-name font-weight-bold" style="font-size: 18px;">@patient.Fullname</span>
                                        </div>
                                    </div>
                                    <div class="ml-3">
                                        <!-- This will appear below the Fullname -->
                                        @if (patient.Dob != null)
                                        {
                                            int age = DateTime.Now.Year - patient.Dob.Year;
                                            <span class="patient-namerelation" style="font-size: 14px;">@patient.Name, </span>
                                            <span class="patient-age" style="font-size: 14px;">@age years</span>
                                        }
                                    </div>
                                </div>

                                    <div class="d-flex">
                                        <!-- Edit button with icon -->
                                        <button class="btn  btn-transparent btn_edit" dataid="@patient.Id" title="Edit">
                                            <i class="fa fa-pencil text-white-50"></i>
                                        </button>
                                        <!-- Delete button with icon -->
                                        <button class="btn  btn-transparent btn_delete" dataid="@patient.Id" title="Delete">
                                            <i class="fa fa-trash text-danger"></i>
                                        </button>
                                    </div>

                            </div>
                        }
                    }
                    else
                    {
                        <p>No data available.</p>
                    }
                </div>
                <div class="card-footer">
                    @{
                        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
                    }
                    <div class="row">
                        <div class="col-2">
                            <form asp-action="Index" id="form_pagesize">
                                <select name="PageSize" id="PageSize" class="form-control">
                                    <option value="3">3</option>
                                    <option value="5">5</option>
                                    <option value="10">10</option>
                                </select>
                            </form>
                        </div>
                        <div class="col-10">
                            Page @Model.PageIndex of @Model.TotalPages
                            <a asp-action="Index"
                                asp-route-sortOrder="@ViewBag.CurrentSort"
                                asp-route-pageNumber="@(Model.PageIndex + 1)"
                                asp-route-currentFilter="@ViewBag.CurrentFilter"
                                asp-route-pageSize="@ViewBag.CurrentPageSize"
                                class="btn btn-info float-right @nextDisabled">
                                Next
                            </a>
                            <a asp-action="Index"
                                asp-route-sortOrder="@ViewBag.CurrentSort"
                                asp-route-pageNumber="@(Model.PageIndex - 1)"
                                asp-route-currentFilter="@ViewBag.CurrentFilter"
                                asp-route-pageSize="@ViewBag.CurrentPageSize"
                                class="btn btn-info float-right @prevDisabled">
                                Previous
                            </a>
                        </div>
                    </div>
                </div>
                </div>
                </div>
            </div>
        </div>
    </div>
   

                                <script>

    var listId = []

    function selectedItem() {
        var mychecked = $(".mychecked")
        listId = []
        for (var i = 0; i < mychecked.length; i++) {
            if (mychecked[i].checked) {
                listId.push(mychecked[i].value)
            }
        }

        if (listId.length > 0) {
            $("#btn_multiple_delete").attr("disabled", false)
        }
        else {
            $("#btn_multiple_delete").attr("disabled", true)
        }
    }



    $("#PageSize").val(@ViewBag.CurrentPageSize)

    $("#PageSize").change(function () {
        $("#form_pagesize").submit();
    })


    $("#btn_create").click(function () {
        $("#modal_body").empty()
        $("#modal_body").load("/Pasien/Create")
        $("#modal").modal("show")
    })

    $("#btn_multiple_delete").click(function () {
        $("#modal_body_sm").empty()
        $("#modal_body_sm").load("/Pasien/MultipleDelete", { listId: listId })
        $("#modal_sm").modal("show")
    })

    $(".btn_edit").click(function () {
        var id = $(this).attr("dataid")

        $("#modal_body").empty()
        $("#modal_body").load("/Pasien/Edit?id=" + id)
        $("#modal").modal("show")
    })

    $(".btn_delete").click(function () {
        var id = $(this).attr("dataid")

        $("#modal_body_sm").empty()
        $("#modal_body_sm").load("/Pasien/Delete?id=" + id)
        $("#modal_sm").modal("show")
    })

                                </script>