@using MinPro.viewmodels
@model VMTblProfile


@{
    ViewData["Title"] = "Edit User";
}

<div class="card">
    <div class="card-body">
        <div class="card-title">@ViewData["Title"]</div>
        <form asp-action="Edit" method="post" id="form_input">
            <input type="hidden" class="form-control" id="Id" name="Id" value="@Model.Id">
            <div class="form-group">
                <label for="Fullname">Full Name</label>
                <input type="text" class="form-control" id="Fullname" name="Fullname" value="@Model.Fullname">
                <span id="error_Fullname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Dob">Date of Birth</label>
                <input type="date" class="form-control" id="Dob" name="Dob" value="@Model.Dob?.ToString("yyyy-MM-dd")" max="@DateTime.Now.ToString("yyyy-MM-dd")" />
                <span id="error_Dob" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="phone">Phone Number</label>
                <input type="text" class="form-control" id="phone" name="MobilePhone" value="@Model.MobilePhone">
                <span id="error_MobilePhone" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-sm-12">
                <p align="right">
                    <button type="submit" class="btn btn-light">Input</button>
                    <a class="btn btn-light" asp-controller="Profile" asp-action="Index">Back</a>
                    </p>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    $("#form_input").validate({
        errorClass: "text-danger",
        errorPlacement: function (error, element) {
            if (element.attr("name") === "Fullname") {
                error.appendTo($("#error_Fullname"));
            } else if (element.attr("name") === "Dob") {
                error.appendTo($("#error_Dob"));
            } else if (element.attr("name") === "MobilePhone") {
                error.appendTo($("#error_MobilePhone"));
            } else {
            }
        },
        rules: {
            Fullname: {
                required: true,
                minlength: 5,
            },
            Dob: {
                required: true,
            },
            MobilePhone: {
                number:true,
            },
        },
        messages: {
            Fullname: {
                required: "Tolong isi Nama",
                minlength: "Tolong Lebih Dari 5 karakter",
            },
            Dob: {
                required: "Tolong isi Tanggal Lahir",
            },
            MobilePhone: {
                number: "Tolong isi dengan angka",
            },
        },
        submitHandler: function (form) {
            var dataForm = $(form).serialize();
            fungsiSubmit(dataForm);
        }
    });

    function fungsiSubmit(dataParam) {
        $.ajax({
            url: '/Profile/Edit',
            type: "post",
            data: dataParam,
            dataType: "json",
            success: function (respon) {
                var data = respon.dataRespon;
                if (data.success) {
                    $("#modal").modal("hide");
                    toastr.success(
                        data.message,
                        '',
                        {
                            timeOut: 1000,
                            fadeOut: 1000,
                            onHidden: function () {
                                window.location.reload();
                            }
                        }
                    );
                } else {
                    // Use toastr.error to display the error message
                    toastr.error(data.message);
                }
            }
        });
    }
</script>