@using MinPro.viewmodels;


<div class="clearfix"></div>

        <div class="content-wrapper">
            <div class="container-fluid">

                <div class="row mt-3">
                    <div class="col-lg-4">
                        <div class="card profile-card-1">
                            <div class="card-img-block">
                            <img class="img-fluid mx-auto d-block" src="https://cdn.britannica.com/39/7139-050-A88818BB/Himalayan-chocolate-point.jpg?w=400&h=300&c=crop" alt="Card image cap">
                        </div>
                            <div class="card-body pt-5">
                               
                                <h5 class="card-title">Mark Stern</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                
                            </div>

                            <div class="card-body border-top border-light">
                                <div class="media align-items-center">
                                    <div class="media-body text-left ml-3">
                                        <div class="progress-wrapper">
                                        <a  asp-area="" asp-controller="Pasien" asp-action="Index"><p>Pasien </p></a>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                            <div class="media align-items-center">
                                <div class="media-body text-left ml-3">
                                    <div class="progress-wrapper">
                                        <p>Pembelian Obat </p>
                                    </div>
                                </div>
                            </div>
                                <hr>
                            <div class="media align-items-center">
                                <div class="media-body text-left ml-3">
                                    <div class="progress-wrapper">
                                        <p>Rencana Kedatangan</p>
                                    </div>
                                </div>
                            </div>
                                <hr>
                            <div class="media align-items-center">
                                <div class="media-body text-left ml-3">
                                    <div class="progress-wrapper">
                                        <p>Riwayat Chat Dokter </p>
                                    </div>
                                </div>
                            </div>

                            </div>
                        </div>

                    </div>
           


            <div class="col-lg-8">
                        <div class="card">
                            <div class="card-body">
                                <ul class="nav nav-tabs nav-tabs-primary top-icon nav-justified">
                                    <li class="nav-item">
                                        <a href="javascript:void();" data-target="#profile" data-toggle="pill" class="nav-link active"><i class="icon-user"></i> <span class="hidden-xs">Profile</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="javascript:void();" data-target="#alamat" data-toggle="pill" class="nav-link"><i class="icon-envelope-open"></i> <span class="hidden-xs">Messages</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="javascript:void();" data-target="#alamat" data-toggle="pill" class="nav-link"><i class="icon-note"></i> <span class="hidden-xs">Pembayaran</span></a>
                                    </li>
                                </ul>
                                <div class="tab-content p-3">

                                <div class="tab-pane active" id="profile">
                                        <input type="hidden" class="form-control" id="Id" name="Id" value="@Model.Id">

                                        <div class="form-group row">
                                            <label class="col-lg-3 col-form-label form-control-label">
                                                <h5>User Profile</h5>
                                            </label>
                                            <div class="col-lg-9 text-right">
                                            <button class="btn  btn-transparent btn_edit" title="Edit" dataid="@Model.Id">
                                                <i class="fa fa-pencil text-white"></i>
                                            </button>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-lg-3 col-form-label form-control-label">Full Name</label>
                                            <div class="col-lg-8">
                                                <input class="form-control" type="text" value="@Model.Fullname" readonly>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-lg-3 col-form-label form-control-label">Tanggal Lahir</label>
                                            <div class="col-lg-8">
                                        <input class="form-control" type="text" value="@Model.Dob?.ToString("dd MMMM yyyy")" readonly>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-3 col-form-label form-control-label">Nomor Handphone</label>
                                            <div class="col-lg-8">
                                        <input class="form-control" type="text" value="@Model.MobilePhone" readonly>
                                        </div>
                                        </div>

                                    <h5 class="mb-3">Data Akun</h5>

                                        <div class="form-group row align-items-center">
                                            <label class="col-lg-3 col-form-label form-control-label">
                                                Email
                                            </label>
                                            <div class="col-lg-9 d-flex">
                                        <input class="form-control" type="email" value="@Model.Email" readonly>
                                        <button class="btn  btn-transparent btn_edit_email" title="Edit" dataid="@Model.Id">
                                                <i class="fa fa-pencil text-white"></i>
                                            </button>
                                            </div>
                                        </div>

                                        <div class="form-group row align-items-center">
                                            <label class="col-lg-3 col-form-label form-control-label">
                                                Password
                                            </label>
                                            <div class="col-lg-9 d-flex">
                                                <input class="form-control" type="password" value="@Model.Password" readonly>
                                        <button class="btn  btn-transparent btn_edit_password" title="Edit" dataid="@Model.Id">
                                                <i class="fa fa-pencil text-white"></i>
                                            </button>
                                            </div>
                                        </div>

                                        

                                        <!--/row-->
                                    </div>
                                    <div class="tab-pane" id="alamat">
                                     
                                    <div class="tab-pane" id="edit">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            
        </div>
</div>
</div>
<script>

    $(".btn_edit").click(function () {
        var id = $(this).attr("dataid")

        $("#modal_body").empty()
        $("#modal_body").load("/Profile/Edit?id=" + id)
        $("#modal").modal("show")
    })

    $(".btn_edit_email").click(function () {
        var id = $(this).attr("dataid")

        $("#modal_body_sm").empty()
        $("#modal_body_sm").load("/Profile/EditM?id=" + id)
        $("#modal_sm").modal("show")
    })

    $(".btn_edit_password").click(function () {
        var id = $(this).attr("dataid")

        $("#modal_body_sm").empty()
        $("#modal_body_sm").load("/Profile/EditP?id=" + id)
        $("#modal_sm").modal("show")
    })


</script>

