@using MinPro.viewmodels
@model VMTblProfile


@{
    ViewData["Title"] = "OTP Email";
}


<div class="card">
    <div class="card-body">
        <div class="card-title">@ViewData["Title"]</div>
        <form asp-action="OtpEditM" method="post" id="form_input">
            <input type="hidden" class="form-control" id="Id" name="Id" value="@Model.Id">

            @*<div class="form-group">
                <div class="input-group">
                    <input type="hidden" class="form-control" id="Id" name="Id" value="@Model.Id">
                    <input type="hidden" class="form-control" id="Email" name="Email" value="@Model.Email">
                    <input type="text" class="form-control" id="Token" name="Token" placeholder="Masukkan Kode OTP">
                    <div class="input-group-append">
                    </div>
                </div>
            </div>*@

            <div class="mb-4 row">
                <div class="col-sm-12">
                    <input type="hidden" class="form-control" id="Id" name="Id" value="@Model.Id">
                    <input type="hidden" class="form-control" id="Email" name="Email" value="@Model.Email">
                    <input type="text" class="form-control" id="Token" name="Token" placeholder="Masukkan Kode OTP">
                    <span id="validate_FullName" class="textdanger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-12 text-center">
                    <button class="btn btn-transparent" id="resend_otp">Resend OTP</button>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-10 offset-sm-1">
                    <button type="submit" class="btn btn-primary" id="btn_editm">Input</button>
                    <a class="btn btn-dark" asp-controller="Profile" asp-action="Index">Back</a>
                </div>
            </div>
        </form>
    </div>
</div>



<script>

    $("#resend_otp").click(function () {
        resendOtpToEmail();
    });

    var mins;
    var secs;
    var interval;

    $("#resend_otp").click(function () {
            mins = 0;
            secs = 20;
            var btn = $(this);
            btn.attr("disabled", true);
            interval = setInterval(function () {
                if (mins >= 0 && secs >= 0) {
                    btn.text("Resend Code in " + pad(mins, 2) + ":" + pad(secs, 2));
                    if (secs > 0) {
                        secs--;
                    } else {
                        secs = 59;
                        mins--;
                    }
                    if (mins < 0) {
                        clearInterval(interval);
                        btn.removeAttr("disabled").text("Send Code");
                        return true;
                    }
                }
                console.log("Mins: " + mins + ", Secs: " + secs);
            }, 1000);
        });


    function pad(num, size) {
        var s = num + "";
        while (s.length < size) s = "0" + s;
        return s;
    }

    function pad(num, size) {
        var s = num + "";
        while (s.length < size) s = "0" + s;
        return s;
    }


    $("#form_input").validate({
        errorClass: "text-danger",
        rules: {
            Token: {
                required: true,
                minlength : 6,
                maxlength: 6,
            }
        },
        messages: {
            Token: {
                required: "Masukkan OTP",
                minlength: "Minimal Char 6",
                maxlength: "Maximal Char 6",
            }
        },
        submitHandler: function () {
            var email = $("#Email").val();
            var id = @Model.Id
            var token = $("#Token").val();

            $.ajax({
                url: '/Profile/CheckOTP',
                type: 'get',
                data: { token: token, id: id },
                dataType: 'json',
                success: function (respon) {
                    var data = respon.dataRespon;
                    if (data.success) {
                        $.ajax({
                            url: '/Profile/SubmitMail',
                            type: 'post',
                            data: { email: email, id: id },
                            dataType: 'json',
                            success: function (result) {
                                var datasubmit = result.dataRespon;
                                if (datasubmit.success) {
                                    $("#modal_sm").modal("hide");
                                    toastr.success(
                                        datasubmit.message,
                                        '',
                                        {
                                            timeOut: 3000,
                                            fadeOut: 3000,
                                            onHidden: function () {
                                                window.location.reload();
                                            }
                                        }
                                    );
                                }
                            },
                            error: function () {
                                toastr.error(datasubmit.message);
                            }
                        });
                    }
                    else
                    {
                        toastr.error(data.message);
                    }
                }
            });

        }
    });


    function resendOtpToEmail(email, id) {
        var id = @Model.Id

        $.ajax({
            url: '/Profile/ResendOtp',
            type: 'post',
            data: { email: email, id: id },
            dataType: 'json',
            success: function (result) {
                toastr.success("Resend Done");
            },
            error: function () {
                toastr.error("Failed To Resend.");
            }
        });
    }

   
</script>