@using MinPro.datamodels;
@model MBloodGroup

@{
    Layout = null;
    ViewData["Title"] = "Create BloodType ";
}
<div class="h6 md-4">@ViewData["Title"]</div>

<div class="card">
    <div class="card-body">

        <form asp-action="Create" method="post" id="form_input">

@*            <div class="mb-4 row">
                <label for="Code" class="col-sm-3.5 col-form-label">Blood Type</label>
                <div class="col-sm-8.5">
                    <input type="text" class="form-control" id="Code" name="Code" value="@Model.Code">
                    <span id="validate_Code" class="text-danger"></span>
                </div>
            </div>*@

            <div class="mb-4 row">
                <label for="Code" class="col-sm-4 col-form-label">Blood Type</label>
                <div class="col-sm-12">
                    <input type="text" class="form-control" id="Code" name="Code" value="@Model.Code" >
                    <span id="validate_Code" class="text-black-danger"></span>
                </div>
            </div>

            @*<div class="mb-4 row">
                <label for="Description" class="col-sm-33.5 col-form-label">Description</label>
                <div class="col-sm-8.5">
                    <textarea class="form-control" id="Description" name="Description" value="@Model.Description"></textarea>

                </div>
            </div>*@

            <div class="mb-4 row">
                <label for="Description" class="col-sm-4 col-form-label">Description</label>
                <div class="col-sm-12">
                    <input type="text" class="form-control" id="Description" name="Description" value="@Model.Description">
                </div>
            </div>

            <br>
            
            <div class="form-group row">
                <div class="col-sm-12">
                    <p align="right">
                        <button style="margin:5px;" type="submit" class="btn btn-light">Input</button>
                        <a class="btn btn-light" asp-controller="BloodGroup" asp-action="Index">Back</a>
                    </p>
                   
                </div>
            </div>
        </form>

    </div>
</div>


<script>
    $("#form_input").validate({
        errorClass: "text-danger",
        rules: {
            Code: {
                required: true,
                minlength: 1,
            }
        },
        messages: {
            Code: {
                required: "Tolong isi Nama",
                minlength: "Tolong Lebih Dari 5",

            }
        },
        submitHandler: function (form) {
            var dataForm = $(form).serialize()

            var Code = $("#Code").val()

            $.ajax({
                url: "/BloodGroup/CheckCodeIsExist",
                type: "get",
                //method : "get",
                data: { Code: Code },
                dataType: "json",

                success: function (respon) {

                    if (respon) {

                        $("#validate_Code").text("Type Sudah Ada")
                        return true;
                    }
                    else {

                        fungsiSubmit(dataForm)
                    }
                }

            })
        }

    })

    function fungsiSubmit(dataParam) {
        $.ajax({
            url: '/BloodGroup/Create',
            type: "post",
            data: dataParam,
            dataType: "json",
            success: function (respon) {
                var data = respon.dataRespon
                if (data.success) {
                    $("#modal").modal("hide")

                    toastr.success(
                        data.message,
                        '',
                        {
                            timeOut: 1000,
                            fadeOut: 1000,
                            onHidden: function () {
                                window.location.reload()
                            }
                        }
                    )
                }
                else {
                    toastr.errorClass(data.message)
                }
            }
        })
    }

</script>

