@using MinPro.viewmodels;

@model VMDoctor

<div class="row mt-3">
    <div class="col-lg-4">
        <div class="card profile-card-2">
            <div class="card-img-block">
                <img class="img-fluid" src="~/img/bg/image.png" alt="Card image cap">
            </div>
            <div class="card-body p-4">
                <a href="javascript:void();"><i class="zmdi zmdi-brush"></i> </a>
                <img src="/img/doctor/@Model.ImagePath" alt="profile-image" class="profile">
                <p class="card-title">
                    @Model.Fullname <br />
                    <small>@Model.SpecializationName</small>
                </p>
                <div class="icon-block">
                    <button type="submit" class="btn btn-light px-15">Janji</button>
                    <a href="#"><i class="fa fa-message text-white"></i></a>
                </div>
                <div class="icon-block">
                    <button type="submit" class="btn btn-light px-15">Chat Dokter</button>
                    <a href="#"><i class="fa fa-message text-white"></i></a>
                </div>

            </div>

            <div class="card-body border-top border-light">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Tindakan Medis</h5>
                        <div class="table-responsive">
                            @foreach (var TinMe in Model.Treatment)
                            {
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td>@TinMe.Name</td>
                                        </tr>
                                    </tbody>
                                </table>
                            }
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-body border-top border-light">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Riwayat Praktek</h5>
                        <div class="table-responsive">
                            @foreach (var R in Model.LocationHistory)
                            {
                                @*<table class="table">     *@
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>
                                                @R.Location
                                                <table class="table">
                                                    <tbody>
                                                        <tr>
                                                            <th scope="row">@R.Specialization</th>
                                                            <td style="text-align:right;">@R.StartDate?.ToString("yyyy") - @(R.EndDate.Value.Year == DateTime.Now.Year ? "Sekarang" : @R.EndDate?.ToString("yyyy"))</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            }
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-body border-top border-light">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Pendidikan</h5>
                        <div class="table-responsive">
                            @foreach (var edu in Model.DoctorEducation)
                            {
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td>
                                                @edu.InstitutionName
                                                <table class="table">
                                                    <tbody>
                                                        <tr>
                                                            <th scope="row" style="text-align:left;">@edu.Major</th>
                                                            <td style="text-align:right;">@edu.StartYear</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-8">
        <div class="card">
            <div class="card-body">
                <ul class="nav nav-tabs nav-tabs-primary top-icon nav-justified">
                    <li class="nav-item">
                        <a href="javascript:void();" data-target="#profile" data-toggle="pill" class="nav-link active"><i class="fa fa-user-md"></i> <span class="hidden-xs">Tindakan Dokter</span></a>
                    </li>
                    @*<li class="nav-item">
                    <a href="javascript:void();" data-target="#messages" data-toggle="pill" class="nav-link"><i class="icon-envelope-open"></i> <span class="hidden-xs">Messages</span></a>
                    </li>
                    <li class="nav-item">
                    <a href="javascript:void();" data-target="#edit" data-toggle="pill" class="nav-link"><i class="icon-note"></i> <span class="hidden-xs">Edit</span></a>
                    </li>*@
                </ul>
                <div class="tab-content p-3">
                    <div class="tab-pane active" id="profile">
                        <h5 class="mb-3">Tindankan Dokter</h5>
                        <div class="row">
                            <div class="card col-md-12">
                                <div class="col-md-12">
                                    <hr>
                                    @foreach (var Treatment in Model.Treatment)
                                    {
                                        <span class="badge badge-primary">@Treatment.Name <a class="btn_delete" dataid="@Treatment.Id"><i class="fa fa-times "></i></a></span>
                                    }   
                                </div>
                                <br />
                                
                            </div> 
                            
                        </div>
                        <div class="card text-right">
                            <div class="col-md-11">
                                <button type="button" class="btn btn-primary btn-floating position-absolute top-0 start-100" id="btn_create"><i class="fa fa-plus"></i></button>

                            </div>
                            
                            
                        </div>
                        <!--/row-->
                        
                    </div>
                </div>

            </div>
        </div>

    </div>

    <script>
        

        $("#btn_create").click(function () {
            $("#modal_body_sm").empty()
            $("#modal_body_sm").load("/Tindakan/Create")
            $("#modal_sm").modal("show")
        })

        $(".btn_delete").click(function () {
            var id = $(this).attr("dataid")

            $("#modal_body_sm").empty()
            $("#modal_body_sm").load("/Tindakan/Delete?id=" + id)
            $("#modal_sm").modal("show")
        })
    </script>
