@using MinPro.viewmodels;

@model VMDoctor

    <div class="row mt-3">
        <div class="col-lg-4">
            <div class="card profile-card-2">
                <div class="card-img-block">
                    <img class="img-fluid" src="~/img/bg/image.png" alt="Card image cap">
                </div>
                <div class="card-body pt-5">
                    <img src="/img/doctor/@Model.ImagePath" alt="profile-image" class="profile">
                    
                    <div class="icon-block">
                        
                        <a href="#"></i></a>
                    </div>
                    
                </div>

                <div class="card-body border-top border-light">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Tindakan Medis</h5>
                            <div class="table-responsive">
                                @foreach (var TinMe in Model.Treatment)
                                {
                                    <table class="table">          
                                        <tbody>
                                            <tr>
                                            <td>@TinMe.Name</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                }  
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-body border-top border-light">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Riwayat Praktek</h5>
                            <div class="table-responsive">
                                @foreach (var R in Model.LocationHistory)
                                {
                                @*<table class="table">     *@
                                <table>     
                                    <tbody>
                                        <tr>
                                            <td>
                                                @R.Location
                                                <table class="table">
                                                    <tbody>
                                                        <tr>
                                                            <th scope="row">@R.Specialization</th>
                                                            <td style="text-align:right;">@R.StartDate?.ToString("yyyy") - @(R.EndDate.Value.Year == DateTime.Now.Year ? "Sekarang" : @R.EndDate?.ToString("yyyy"))</td>
                                                        </tr>
                                                    </tbody>
                                                </table>                  
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                }
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-body border-top border-light">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Pendidikan</h5>
                            <div class="table-responsive">
                                @foreach (var edu in Model.DoctorEducation)
                                {
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                            <td>
                                                @edu.InstitutionName
                                                <table class="table">
                                                        <tbody>
                                                            <tr>
                                                                <th scope="row" style="text-align:left;">@edu.Major</th>
                                                                <td style="text-align:right;">@edu.StartYear</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>                 
                                                </td>
                                            </tr>  
                                        </tbody>
                                    </table>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-8">
            <div class="card">
                <div class="card-body">
                    <div class="col"></div>
                    <h5 class="card-title">@Model.Fullname</h5>
                    <p class="card-text">@Model.SpecializationName</p>
                    <p class="card-text">Pengalaman 4 Tahun</p>
                    <div class="icon-block">
                        <button type="submit" class="btn btn-light px-5">Chat Dokter</button>
                        <a href="#"><i class="fa fa-message text-white"></i></a>
                    </div>
                    <p>Rp. Price</p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <ul class="nav nav-tabs nav-tabs-primary top-icon nav-justified">
                        <li class="nav-item">
                        <a href="javascript:void();" data-target="#profile" data-toggle="pill" class="nav-link active"><i class="fa fa-map-marker"></i> <span class="hidden-xs">Lokasi Praktek</span></a>
                        </li>
                    </ul>
                    <div class="tab-content p-3">
                        <div class="tab-pane active" id="profile">
                            <h5 class="mb-3">Lokasi Praktek</h5>
                            @foreach (var location in Model.Location)
                            {
                                
                                <div class="row">
                                    <div class="card-body">
                                        <h5 class="card-title">@location.Location</h5>
                                        <div class="table-responsive">
                                            <table class="table">
                                                
                                                <tbody>
                                                    <tr>
                                                        <td>@location.Specialization</td>
                                                    </tr>
                                          
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                             }   
                            
                            <!--/row-->
                    </div>
                </div>
            </div>
        </div>

    </div>

