@using MinPro.viewmodels;

@model VMDoctor

    <div class="row mt-3">
        <div class="col-lg-4">
            <div class="card profile-card-2">
                <div class="card-img-block">
                    <img class="img-fluid" src="~/img/bg/image.png" alt="Card image cap">
                </div>
                <div class="card-body pt-5">
                    <img src="/img/doctor/@Model.ImagePath" alt="profile-image" class="profile">
                    <h5 class="card-title">@Model.NameDoctor</h5>
                    <p class="card-text">@Model.NameSpecialis</p>
                    <div class="icon-block">
                        <a href="#"><i class="fa fa-message text-white"></i></a>
                    </div>
                </div>

                <div class="card-body border-top border-light">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Tindakan Medis</h5>
                            <div class="table-responsive">
                                @foreach (var TinMe in ViewBag.listTinMed)
                                {
                                    <table class="table">          
                                        <tbody>
                                            <tr>
                                            <td>@TinMe.NameTindakan</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                }  
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-body border-top border-light">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Riwayat Praktek</h5>
                            <div class="table-responsive">
                                @foreach (var R in ViewBag.listR)
                                {
                                @*<table class="table">     *@
                                <table>     
                                    <tbody>
                                        <tr>
                                            <td>
                                                @R.NameLokasi
                                                <table class="table">
                                                    <tbody>
                                                        <tr>
                                                            <th scope="row">@R.NameSpecialis</th>
                                                            <td style="text-align:right;">@R.StartTahun?.ToString("yyyy") - @R.EndTahun?.ToString("yyyy")</td>
                                                        </tr>
                                                    </tbody>
                                                </table>                  
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                }
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-body border-top border-light">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Pendidikan</h5>
                            <div class="table-responsive">
                                @foreach (var edu in ViewBag.listEdu)
                                {
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                            <td>
                                                @edu.InstitutionName
                                                <table class="table">
                                                        <tbody>
                                                            <tr>
                                                                <th scope="row" style="text-align:left;">@edu.Major</th>
                                                                <td style="text-align:right;">@edu.StartYear</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>                 
                                                </td>
                                            </tr>  
                                        </tbody>
                                    </table>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-8">
            <div class="card">
                <div class="card-body">
                    <ul class="nav nav-tabs nav-tabs-primary top-icon nav-justified">
                        <li class="nav-item">
                        <a href="javascript:void();" data-target="#profile" data-toggle="pill" class="nav-link active"><i class="fa fa-map-marker"></i> <span class="hidden-xs">Lokasi Praktek</span></a>
                        </li>
                        @*<li class="nav-item">
                            <a href="javascript:void();" data-target="#messages" data-toggle="pill" class="nav-link"><i class="icon-envelope-open"></i> <span class="hidden-xs">Messages</span></a>
                        </li>
                        <li class="nav-item">
                            <a href="javascript:void();" data-target="#edit" data-toggle="pill" class="nav-link"><i class="icon-note"></i> <span class="hidden-xs">Edit</span></a>
                        </li>*@
                    </ul>
                    <div class="tab-content p-3">
                        <div class="tab-pane active" id="profile">
                            <h5 class="mb-3">Lokasi Praktek</h5>
                            @foreach (var RR in ViewBag.listR)
                            {
                                
                                <div class="row">
                                    <div class="card-body">
                                        <h5 class="card-title">@RR.NameLokasi</h5>
                                        <div class="table-responsive">
                                            <table class="table">
                                                
                                                <tbody>
                                                    <tr>
                                                        <td>@RR.NameSpecialis</td>
                                                    </tr>
                                          
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                             }   
                            
                            <!--/row-->
                    </div>
                </div>
            </div>
        </div>

    </div>

